<!--
  Author: Kevin Lu
  Date: 9/30/2019
  File: login.html
  Purpose: Handles the login HTML
  Modification: N/A
-->


{% extends "index.html" %}

{% block login %}
    <div class="login-form">
      <form action="" method="post">
        <div class="avatar">
          <img src="{{url_for("static", filename="images.png")}}" alt="Avatar">
        </div>
            {{ form.hidden_tag() }}
          
            <fieldset class="form-group">
              <legend class="border-bottom mb-4">Login</legend>
              <div class="form-group">
                  {{ form.username.label(class="form-control-label") }}
                  {{ form.username(class="form-control form-control-lg") }}
              </div>

              <div class="form-group">
                  {{ form.password.label(class="form-control-label") }}
                  {{ form.password(class="form-control form-control-lg") }}
              </div>

            </fieldset>   
              <div class="form-group">
                  {{ form.submit(class="btn btn-primary btn-lg btn-block") }}
              </div>
      </form>
    </div>

{% endblock login%}