<!--
  Author: Kevin Lu
  Date: 10/4/2019
  File: transaction.html
  Purpose: HTML file for the transaction portion of the website.
  Modification: N/A
-->

{% extends "index.html" %}

{% block transaction %} 

    <div class="transaction">
      <h1> Transactions </h1>
    </div>

    <main role="main" class="container">
      <div class="content-section">
        <div class="form-group"> 
          <ul>
            {% for item in stockTicker %}    
              <li>{{ item }}</li>
            {% endfor %}
            <li>{{ companyName }} - {{ numberOfShares }} Shares -> ${{ costOfTotalShares }}</li>
          </ul>
        </div>
      </div>
    
    </main>

{% endblock transaction %}